/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colors =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
} 

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --home_bg: white;
  --bgcolor-1: #3e6ff4;
  --bgcolor-2: #0d1730;
  --txtcolor: black;
  --header-color: white;
  --modal-bg: white;
  --quotebg: #def3ff;
  --authortxt: #595557;
  --ballcolor: #eddda8;
  --ballbg: #e5b731;
  --img-brightness: 100%;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--bgcolor-2);
}

body.dark {
  --home_bg: #0d1730;
  --bgcolor-1: #0d1730;
  --bgcolor-2: black;
  --txtcolor: white;
  --header-color: black;
  --modal-bg: #0d1730;
  --quotebg: #1d3473;
  --authortxt: #9a8d93;
  --ballcolor: #092c3d;
  --ballbg: #25abe0;
  --img-brightness: 100%;
  background-color: var(--bgcolor-1);
  color: var(--txtcolor);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--header-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  color: var(--txtcolor);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 40%;
    height: 100%;
    padding: 2rem;
    background-color: var(--bgcolor-2);
    transition: .5s;
  }
}

.nav__item {
  margin-top: 15px;
  /* margin-bottom: 10px; */
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--txtcolor);
}

.nav__toggle {
  color: var(--txtcolor);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/* ------------------------------------------------- */
/*=== Show menu ===*/
.show {
  right: 0;
}

/* ------------------------------------------------- */
/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  color: var(--txtcolor);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--txtcolor);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 20%;
  bottom: 100px;
  width: 260px;
  transform: scale(1.7);
  filter: brightness(var(--img-brightness));
}

@media screen and (max-width: 760px){
  .home__img{
    top: 300px;
    left: 19px;
    /* padding-right: 10px; */
    /* margin-right: 200px; */
    transform: scale(1.2);
  }
}

.home__blob {
  fill: var(--home_bg);
}

.home__blob-img {
  width: 700px;
  filter: brightness(var(--img-brightness));
}

/* ------------------------------------------------- */
/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  border-width: 0px;
  transition: .3s;
}

.button2{
  display: inline-block;
  background-color: white;
  color: var(--first-color);
  border-color: var(--first-color);
  border-width: 1px;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover, .button2:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------- */
/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}

.about__text {
  margin-bottom: var(--mb-4);
  margin: var(--m-4);
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  /* margin-bottom: var(--mb-2); */
  font-size: 20px;
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.skills__img {
  border-radius: .5rem;
}

/* ------------------------------------------------- */
/* ===== WORK =====*/
.work__container {
  row-gap: 2rem;
  margin-left: 50px;
  margin-right: 50px;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
}

.work__img img:hover{
  transform: scale(1.1);
  
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--bgcolor-2);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: 8px;
}

/* ------------------------------------------------- */
/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    /* padding-bottom: 2.5rem; */
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
    color: var(--txtcolor);
  }
  .about__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--txtcolor);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
    margin-bottom: 60px;
  }
}

/* ------------------------------------------------- */
/* EDUCATION */

*::before,
*::after {
  box-sizing: border-box;
}


.education__timeline {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.education__timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--txtcolor);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.education__container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.education__container.left {
  left: 0;
}

.education__container.right {
  left: 50%;
}

.education__container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid var(--txtcolor);
  border-radius: 16px;
  z-index: 1;
}

.education__container.right::after {
  left: -8px;
}

.education__container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.education__container.right::before {
  left: 8px;
}

.education__container .education__date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.education__container.left .education__date {
  right: -75px;
  color: var(--txtcolor);
}

.education__container.right .education__date {
  left: -75px;
  color: var(--txtcolor);
}

.education__container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.education__container.left .icon {
  right: 56px;
}

.education__container.right .icon {
  left: 56px;
}

.education__container .education__content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.education__container.right .education__content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.education__container .education__content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.education__container .education__content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media screen and (max-width: 767.98px) {
  .education__timeline::after {
    left: 90px;
  }

  .education__container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .education__container.right {
    left: 0%;
  }

  .education__container.left::after, 
  .education__container.right::after {
    left: 82px;
  }

  .education__container.left::before,
  .education__container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .education__container.left .education__date,
  .education__container.right .education__date {
    right: auto;
    left: 15px;
  }

  .education__container.left .icon,
  .education__container.right .icon {
    right: auto;
    left: 146px;
  }

  .education__container.left .education__content,
  .education__container.right .education__content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}


/* ------------------------------------------------- */
/* work title */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.work__img .overlay {
  opacity: 1;
}

.work__imgg{
  width:100%;
  height:100%;
}

/* ------------------------------------------------- */
/* Hover */
.hover-3 {
  --b: 0.1em;   /* the thickness of the line */
  --c: #3e6ff4; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%, var(--txtcolor) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.hover-3:hover {
  --_p: 100%;
  --_s: .3s;
}


/* ------------------------------------------------- */
/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--modal-bg);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: var(--txtcolor);
  text-decoration: none;
  cursor: pointer;
}

a { 
  color: inherit; 
} 

.links{
  padding-left: 10px;
}

.hide_mobile{
  font-size: 10px;
}

@media screen and (max-width: 760px){
  .links{
    display: none;
  }
}

/* ------------------------------------------------- */
/* quote */

.quote__cont{
  text-align: center;
  margin: 25px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  background-color: var(--quotebg);
}
#quote{
  color: var(--txtcolor);
  font-style: italic;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
#author{
  color: var(--authortxt);
  text-align: right;
  margin-right: 20%;
}

#refresh{
  cursor: pointer;
}

@media screen and (max-width: 760px){
  #quote{
    font-size: 15px;
  }
  #author{
    margin-right: 10%;
    font-size: 10px;
  }
  iframe{
    width: 100%;
    height: 50vh;
  }
  #refresh{
    font-size:16px !important;
  }
  #spinner{
    font-size:16px !important;
  }
}

/* ------------------------------------------------- */
/* dark light modes */

.dm_label{
  margin-left: 30px;
}
  
  .switch{
  position: relative;
  width: 130px;
  height: 50px;
  margin: 0px;
  appearance: none;
  -webkit-appearance: none;
  background-image:url("moonimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: inset 0px 0px 2px rgba(255,255,255,.7);
  transition: background-image .7s ease-in-out;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transform: scale(0.7);
  }
  
  .switch:checked{
  background-image: url('sunimg.jpg');
  background-size: cover;
  transition: background-image 1s ease-in-out;
  }
  
  
  .switch:after{
  content: '';
  width: 46px;
  height:46px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  transform: translateX(0px);
  animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes off{
  0%{
      transform: translateX(80px);
      width: 46px;
  }
  50%{
      width: 75px;  
      border-radius: 25px;   
  }
  100%{
      transform: translateX(0px); 
      width: 46px;
  }
  }
  
  
  
  .switch:checked:after{
  animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes on{
  0%{
      transform: translateX(0px);
      width: 46px;
  }
  50%{
      width: 75px;  
      border-radius: 25px;   
  }
  100%{
      transform: translateX(80px); 
      width: 46px;
  }
  }
  
  
  .switch:checked:before{
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  transform-origin: 53px 10px;
  background-color: transparent;
  box-shadow: 5px -1px 0px #fff;
  filter: blur(0px);
  animation: sun .7s forwards ease;
  }
  @keyframes sun{
  0%{
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
  }
  50%{
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
  }
  90%{
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
       inset 0px 0px 2px #efd3a3;
       filter: blur(1px);
  }
  100%{
      transform: rotate(0deg);
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
       inset 0px 0px 2px #efd3a3;
       filter: blur(1px);
  }
  }
  
  
  
  .switch:before{
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 5px;
  filter: blur(1px);
  background-color: #f5daaa;
  box-shadow: 0px 0px 10px #f5deb4,
  0px 0px 20px #f5deb4,
  0px 0px 30px #f5deb4,
   inset 0px 0px 2px #efd3a3;
   transform-origin: 53px 10px;
   animation: moon .7s forwards ease;
  }
  @keyframes moon{
  0%{
      transform: rotate(0deg);
      filter: blur(1px);
  }
  50%{
      filter: blur(1px);
  }
  90%{
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
  
  }
  100%{
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
  }
  }

  @media screen and (max-width: 760px){
    .nav__item{
      /* margin: 10px; */
      margin-bottom: 30px;
    }
    .dm_label{
      margin-left: 0;
    }
    .switch{
      left: -20px;
      margin-top: 20px;
    }
    .about__subtitle{
      font-size: 20px;
    }
  }


  /* ------------------------------------------------- */
  /* navbutton */
  .nav_menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .nav_menu_line {
    fill: none;
    stroke: var(--txtcolor);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav_menu_line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .nav_menu_line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .nav_menu_line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .nav_menu_line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .nav_menu_line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .nav_menu_line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
/* ------------------------------------------------- */
  /* image */

.img_container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.img_container:after {
  background-color: #f2f2f2;
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
/* .img_container:hover {
  transform: scale(0.5);
} */
.img_container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.img_circle {
  background-image: url("");
  background-size: cover;
  background-color: var(--home_bg);
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.prof_img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .img_container:hover .prof_img {
  transform: scale(1.7);
} */
.prof_img1 {
  left: 22px;
  top: 400px;
  width: 340px;
  transform: scale(1.5);
}

/* @media screen and (max-width: 760px){
  .img_container{
    pointer-events: none;
  }
  .home:hover .prof_img {
    transform: translateY(0) scale(1.7);
  }
} */

.icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.icon{
  padding-left: 20px;
  height: 40px;
  margin-bottom: 10px;
}

/* @media screen and (max-width: 760px){
  .icon{
    height: 24px;
  }
  .icons{
    justify-content: center;
  }
} */