/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colors =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
} 

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --bgcolor-1: #3e6ff4;
  --bgcolor-2: #0d1730;
  --txtcolor: black;
  --header-color: white;
  --modal-bg: white;
  --quotebg: #def3ff;
  --authortxt: #595557;
  --ballcolor: #eddda8;
  --ballbg: #e5b731;
  --img-brightness: 100%;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--bgcolor-2);
}

body.dark {
  --bgcolor-1: #0d1730;
  --bgcolor-2: black;
  --txtcolor: white;
  --header-color: black;
  --modal-bg: #0d1730;
  --quotebg: #1d3473;
  --authortxt: #9a8d93;
  --ballcolor: #25abe0;
  --ballbg: #092c3d;
  --img-brightness: 75%;
  background-color: var(--bgcolor-1);
  color: var(--txtcolor);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--header-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  color: var(--txtcolor);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 40%;
    height: 100%;
    padding: 2rem;
    background-color: var(--bgcolor-2);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--txtcolor);
}

.nav__toggle {
  color: var(--txtcolor);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  color: var(--txtcolor);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--txtcolor);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 100px;
  width: 260px;
}

.home__blob {
  fill: white;
  filter: brightness(var(--img-brightness));
}

.home__blob-img {
  width: 700px;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  border-width: 0px;
  transition: .3s;
}

.button2{
  display: inline-block;
  background-color: white;
  color: var(--first-color);
  border-color: var(--first-color);
  border-width: 1px;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover, .button2:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.2);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}

.about__text {
  margin-bottom: var(--mb-4);
  margin: var(--m-4);
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  /* margin-bottom: var(--mb-2); */
  font-size: 20px;
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.skills__img {
  border-radius: .5rem;
}

/* ===== WORK =====*/
.work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
}

.work__img img:hover{
  transform: scale(1.1);
  
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--bgcolor-2);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    /* padding-bottom: 2.5rem; */
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
    color: var(--txtcolor);
  }
  .home__img {
    width: 300px;
    bottom: 100px;
  }
  .about__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--txtcolor);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
    margin-bottom: 60px;
  }
  .home__img {
    width: 450px;
    bottom: -10%;
  }
}


/* EDUCATION */

*::before,
*::after {
  box-sizing: border-box;
}


.education__timeline {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.education__timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--txtcolor);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.education__container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.education__container.left {
  left: 0;
}

.education__container.right {
  left: 50%;
}

.education__container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid var(--txtcolor);
  border-radius: 16px;
  z-index: 1;
}

.education__container.right::after {
  left: -8px;
}

.education__container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.education__container.right::before {
  left: 8px;
}

.education__container .education__date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.education__container.left .education__date {
  right: -75px;
  color: var(--txtcolor);
}

.education__container.right .education__date {
  left: -75px;
  color: var(--txtcolor);
}

.education__container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.education__container.left .icon {
  right: 56px;
}

.education__container.right .icon {
  left: 56px;
}

.education__container .education__content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.education__container.right .education__content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.education__container .education__content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.education__container .education__content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media screen and (max-width: 767.98px) {
  .education__timeline::after {
    left: 90px;
  }

  .education__container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .education__container.right {
    left: 0%;
  }

  .education__container.left::after, 
  .education__container.right::after {
    left: 82px;
  }

  .education__container.left::before,
  .education__container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .education__container.left .education__date,
  .education__container.right .education__date {
    right: auto;
    left: 15px;
  }

  .education__container.left .icon,
  .education__container.right .icon {
    right: auto;
    left: 146px;
  }

  .education__container.left .education__content,
  .education__container.right .education__content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}



/* work title */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.work__img .overlay {
  opacity: 1;
}

.work__imgg{
  width:100%;
  height:100%;
}


/* Hover */
.hover-3 {
  --b: 0.1em;   /* the thickness of the line */
  --c: #3e6ff4; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%, var(--txtcolor) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.hover-3:hover {
  --_p: 100%;
  --_s: .3s;
}

/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--modal-bg);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: var(--txtcolor);
  text-decoration: none;
  cursor: pointer;
}

a { 
  color: inherit; 
} 

.links{
  padding-left: 10px;
}

.hide_mobile{
  font-size: 10px;
}

@media screen and (max-width: 700px){
  .links{
    display: none;
  }
}


/* quote */
.quote__cont{
  text-align: center;
  margin: 25px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  /* background-image: url("https://i.pinimg.com/736x/c9/4d/ae/c94dae561b35094d92cb445634b6fd53.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center; */
  /* min-height: 120px; */
  background-color: var(--quotebg);
}
#quote{
  color: var(--txtcolor);
  font-style: italic;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
#author{
  color: var(--authortxt);
  text-align: right;
  margin-right: 20%;
}

#refresh{
  cursor: pointer;
}

@media screen and (max-width: 700px){
  #quote{
    font-size: 15px;
  }
  #author{
    font-size: 10px;
  }
  iframe{
    width: 100%;
    height: 50vh;
  }
  #refresh{
    font-size:16px !important;
  }
  #spinner{
    font-size:16px !important;
  }
}

/* dark-light mode */

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: var(--ballbg);
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: var(--ballcolor);
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the element after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: white;
}

.fa-sun {
  color: white;
}

@media screen and (max-width: 767px) {
  #darkmode{
    margin: 10px;
    margin-left: auto;
    margin-right: 30px;
  }
}